@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Be Vietnam Pro", sans-serif;
  }

  :root {
    --primary: #f3603c;
    --primary-100: #fff0ec;
    --primary-300: #f98f75;
    --neutral-50: #fff;
    --neutral-100: #fafafa;
    --neutral-500: #242d5280;
    --neutral-800: #242d52;
    --neutral-850: #1d1e25;
    --danger: #f33c3c;
  }

  .ctn {
    padding-inline: 6.4%;
  }

  @media screen(xl) {
    .ctn {
      padding-inline: calc(50% - 550px);
    }
  }
}

/*Typography*/
@layer components {
  .title-xl {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.125rem;
    letter-spacing: -1px;
  }

  .title-lg {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.75rem;
    letter-spacing: -0.714286px;
  }

  .title-md {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.8125rem;
    letter-spacing: -0.61875px;
  }

  .title-sm {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.4375rem;
    letter-spacing: -0.285714px;
  }

  .body-md {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .body-sm {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.75rem;
  }

  @media screen(xl) {
    .title-xl {
      font-size: 3.5rem;
      line-height: 4rem;
    }

    .title-lg {
      font-size: 2.5rem;
      line-height: 2.75rem;
    }

    .title-md {
      font-size: 2.5rem;
      line-height: 2.75rem;
      letter-spacing: -0.714286px;
    }

    .body-md {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.625rem;
    }

    .body-sm {
      font-size: 1rem;
      line-height: 1.625rem;
    }
  }
}

/*utilities*/
@layer components {
  .sidebar-backdrop {
    @apply fixed w-full h-screen top-0 left-0;
    z-index: 98;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.33%,
      rgba(0, 0, 0, 0.599049) 99.79%
    );
  }
}

/*patterns*/
@layer components {
  .hero-pattern {
    @apply absolute;
    width: 20rem;
    height: 21.25rem;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
  }

  .hero-pattern::before {
    @apply absolute bg-center bg-contain bg-no-repeat;
    content: "";
    width: 143.75%;
    padding-bottom: 143.75%;
    bottom: 0;
    left: 0;
    background-image: url(/background/bg-tablet-pattern.svg);
  }

  @media screen(xl) {
    .hero-pattern {
      width: 41.875rem;
      height: 41.25rem;
    }

    .hero-pattern::before {
      width: 121.4925373%;
      padding-bottom: 121.4925373%;
    }
  }

  .call-to-action-pattern::before {
    @apply absolute bg-center bg-contain bg-no-repeat;
    content: "";
    width: 5.875rem;
    height: 18.875rem;
    bottom: 0;
    left: 0;
    background-image: url(/background/bg-simplify-section-mobile.svg);
  }

  @media screen(xl) {
    .call-to-action-pattern::before {
      width: 100%;
      height: 22.5rem;
      background-image: url(/background/bg-simplify-section-desktop.svg);
    }
  }
}

/*Icons*/
@layer components {
  .social-media-icon {
    @apply block w-6 h-6;
    background: theme(colors.neutral-50);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  }

  @media screen(xl) {
    .social-media-icon {
      @apply w-5 h-5;
    }
  }

  .social-media-icon:hover {
    background: theme(colors.primary);
  }

  .social-media-icon[aria-label="facebook"] {
    mask-image: url(/icons/icon-facebook.svg);
  }

  .social-media-icon[aria-label="instagram"] {
    mask-image: url(/icons/icon-instagram.svg);
  }

  .social-media-icon[aria-label="youtube"] {
    mask-image: url(/icons/icon-youtube.svg);
  }

  .social-media-icon[aria-label="pinterest"] {
    mask-image: url(/icons/icon-pinterest.svg);
  }

  .social-media-icon[aria-label="twitter"] {
    mask-image: url(/icons/icon-twitter.svg);
  }
}
